SECRET_KEY=replace-me-with-a-secret
DEBUG=0
DJANGO_SETTINGS_MODULE=config.settings.production

POSTGRES_DB=replace
POSTGRES_USER=replace
POSTGRES_PASSWORD=replace
DATABASE_HOST=replace
DATABASE_PORT=replace
DATABASE_URL=replace

REDIS_URL=redis://redis:6379/0

RECONCILIATION_ALERT_EMAILS=replace
